<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<sessionState mode="InProc" cookieless="UseCookies" compressionEnabled="true" />
		<httpRuntime enableVersionHeader="false"/>
		<globalization culture="pt-BR" uiCulture="pt-BR" requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering removeServerHeader="true" />
		</security>
		<httpProtocol>
			<customHeaders>
				<remove name="Server" />
				<remove name="X-AspNetMvc-Version" />
				<remove name="X-AspNet-Version" />
				<remove name="X-Powered-By" />
				<remove name="X-Powered-By-Plesk" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>